/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);

/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*
 * Primary Blue: #44D5FF;
 * Dark Blue: #0F2C34;
 * Primary Pink: #FF7FA8;
 */

* {
  font-family: "Open Sans";
  /*font-weight: 600;*/
}

body {
  background-color: #614486;
}

section {
  overflow-x: hidden;
  position: relative;
  z-index: 10;
}

h1 {
  margin-bottom: 30px;
}

/*
  * Blinking Cursor
*/

#mission {
  margin-bottom: 50px;
  /* font-size: 24px; */
}
#mission p {
  font-size: 16px;
  line-height: 20px;
}
#blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
#blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.blinking-cursor {
  font-weight: 100;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}


/*
Hero Section
*/

.hero {
  background-color: #614486;
  min-height: 110vh;
}

.hero img {
  max-width: 400px;
}

.hero hr {
  border-top: 15px solid #0f2c34;
  margin: 0;
  position: relative;
  top: -14px;
}


.hero .wrapper {
  padding-bottom: 100px;
  padding-top: 140px;
  /*background-color: #614486;*/
  width: 400px;
  margin: auto;
  /*opacity: 0.8;*/
  position: relative;
  z-index: 9999999;
  margin-top: 20px;

}

.hero .wrapper h1 {
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  display: inline-block;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -2px;
  padding: 10px 20px 10px 30px;
  font-family: quicksand;
  letter-spacing: 1px;
  color: #614486;
}

.hero .wrapper h2 {
  font-size: 28px;
  font-weight: 200;
  color: #614486
}

.hero .wrapper h3 {
  font-size: 20px;
  font-weight: 200;
  color: #614486
}

.hero .wrapper #bottom {
  padding-bottom: 35px;
  margin-top:10px;
}

.hero .buttons {
  margin: 40px 0;
}

.hero .buttons a {
  /*background: #fff;*/
  border: 1px solid white;
  /*border-radius: 40px;*/
  color: white;
  display: inline;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 70px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero .buttons a:hover,
.hero .buttons a:focus {
  background-color: #614486;
  color: #fff;
  transition: all 0.2s ease;
}

.hero .video {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.hero .video video {
  width: auto;
}

.video {
  overflow: hidden;
  position: relative;
}

.video-background {
  width: 100%; /* width needs to be set to 100% */
  height: 100%; /* height needs to be set to 100% */
  left: 0;
  top: 0;
  z-index: -1;
}


/*
About Section
 */

.about {
  border-width: 15px 0;
  background-color: #fff;
  padding: 30px 0;
  position: relative;
  margin-top: -80px;
}

.about .row {
  margin: auto;
}

.about span {
  font-size: 40px;
  color: #614486;
  text-align: center;
  max-width:100%;
}

.about h3 {
  font-family: "Open Sans";
  max-width:100%;
}

.about p {
  font-size: 14px;
   max-width:100%;
   color: black;
}

/*
 * FAQ Section
 */

.faq {
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px 0;
  position: relative;
  color: #614486;
}

.faq p {
  color: black;
}

.accordion-toggle {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:24px;
}
.accordion-toggle:hover {
  color: #614486;
  text-decoration: underline;
}
.accordion-content {display: none; }
.accordion-content.default {display: block; }


.sponsor {
  background-color: #fff;
  padding: 30px 0;
  color: #614486;
}
.sponsor .container {
  text-align:center;
}
.sponsor p {
  color: black;
}

/*
 * Footer Section
 */

.footer {
  background-color: #614486;
  color: #fff;
  padding: 30px 0;
}

.footer img {
  max-width: 125px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.footer h2 {
  /* margin-top:px; */
  margin-bottom: 20px;

}
.footer h3 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.footer h3 a {
  color: #fff;
}

.footer .fa {
  padding: 20px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  width: 54px;
  color: white;
}
.fa:hover {
    opacity: 0.7;
}
.footer .fa-github {
  background: #1d1d1e;
  padding: 8px;
  width: 30px;
}
.footer .fa-linkedin{
  background: #0077B5;
  padding: 8px;
  width: 30px;
}


.fa-facebook {
  background: #3B5998;
}
.fa-envelope {
  background: #8e5636;
}

@media only screen and (max-width: 700px) {

  .about .col-sm-4 {
    padding-bottom: 30px;
  }

  .about #bottom {
    padding-bottom: 0px;
  }
}
