<section class="hero" id="main">
  <div class="video">
    <video loop class="video-background" autoplay="true"  src="{{ site.event.video }}" />
  </div>

  <div class="wrapper text-center">
    <h1 rel="title">{{ site.event.name }}<span class="blinking-cursor">|</span></h1>
    <h2 rel="date">{{ site.event.date }}</h2>
    <h3>Amherst College</h3>
    <h3 id="bottom" rel="location"> {{ site.event.location }}</h3>
    <div class="buttons">
      {% for link in site.event.hero.links %}
          <a href="{{ link.href }}">{{ link.text }}</a>
          {% if link.text=="Register" %}
            <div style="padding:30px; "/>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
