<!DOCTYPE html>
<html>
  {% include head.html %}

  <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>

    {{ content }}

    <section class="footer">
      <div class="container text-center">
        <h1><a href="http://www.hackamherst.com" style="color:white;">{{ site.event.name }}</a></h1>
        <hr>
        <div class="social-media">
          <a href="https://www.facebook.com/HackAmherst-334912166987840/" class="fa fa-facebook"></a>
          <a href="mailto:dnjoo20@amherst.edu" class="fa fa-envelope"></a>
          <!-- <a href="#" class="fa fa-twitter"></a> -->
        </div>
      </div>
      </div>
    </section>

    <script src="{{ '/js/jquery-1.11.3.js' | prepend: site.baseurl | prepend: site.url }}"></script>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
