<!DOCTYPE html>
<html>
  {% include head.html %}

  <body style="position:relative;" data-spy="scroll" data-target="#myNavbar" data-offset="50" >

  <script type="text/javascript">
  (function($) {
    $('body').scrollspy({ target: '#myNavbar' })
  })(jQuery);

  </script>

  <nav class="navbar navbar-inverse navbar-fixed-top hidden-xs">
  <div class="container-fluid" id="#myNavBar">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"e></span>
      </button> -->
      <a class="navbar-brand">HackAmherst</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a class="nav-link active" href="#main">Main</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#faq">FAQ</a></li>
          <li><a class="nav-link" href="#sponsors">Sponsors</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

    {{ content }}

    <section class="footer">
      <div class="container-fluid text-center">
        <h2>Organizers</h2>
        <div class="row">
          <div class="col-sm-2 mx-auto col-sm-offset-1">
            <img src="images/mclean2.png"/>
            <p>McLean Cozine</p>
            <a href="https://www.linkedin.com/in/mcleancozine/" class="fa fa-linkedin"></a>
          </div>
          <div class="col-sm-2 mx-auto">
            <img src="images/greg.jpg"/>
            <p>Gregory Franklin</p>
            <a href="https://www.linkedin.com/in/gregory-franklin-814b2714a/" class="fa fa-linkedin"></a>
          </div>
          <div class="col-sm-2 mx-auto">
            <img src="images/billy.jpg"/>
            <p>Billy Jang</p>
            <a href="https://www.linkedin.com/in/william-j-5b30b511b/" class="fa fa-linkedin"></a>
          </div>
          <div class="col-sm-2 mx-auto">
            <img src="images/daniel.jpg"/>
            <p>Daniel Njoo</p>
            <a href="https://www.linkedin.com/in/daniel-njoo/" class="fa fa-linkedin"></a>
            <a href="https://github.com/danielnjoo" class="fa fa-github"></a>
          </div>
          <div class="col-sm-2 mx-auto">
            <img src="images/karoline.jpg"/>
            <p>Karoline Wang</p>
            <a href="https://www.linkedin.com/in/karoline-wang-51972b122/" class="fa fa-linkedin"></a>
          </div>
        </div>
        <hr>
        <h1><a href="http://www.hackamherst.com" style="color:white;">{{ site.event.name }}</a></h1>
        <div class="social-media">
          <a href="https://www.facebook.com/HackAmherst-334912166987840/" class="fa fa-facebook"></a>
          <a href="mailto:contact@hackamherst.com" class="fa fa-envelope"></a>
          <!-- <a href="#" class="fa fa-twitter"></a> -->
        </div>
      </div>
      </div>
    </section>

    <script src="{{ '/js/jquery-1.11.3.js' | prepend: site.baseurl | prepend: site.url }}"></script>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
